module = "github.com/megakuul/bob"

[[toolchains]]
name = "gcc"
platforms = ["linux"]
archs = ["arm64", "amd64"]

[toolchains.compiler]
url = "file:///nix/store/zvydhb6x96y62jh0pi92h8bl6iic7cpf-gcc-14.2.0"
path = "g++"
[toolchains.linker]
url = "file:///nix/store/wd1dlav3z5vwwv6yqj69xkzhldk5hpvb-binutils-wrapper-2.43.1/bin"
path = "ld"
[toolchains.stdlib]
url = "file:///nix/store/nqb2ns2d1lahnd5ncwmn6k84qfd7vx2k-glibc-2.40-36/lib"
path = "libc.so.6"
[toolchains.stdpplib]
url = "file:///nix/store/kpqmkabv5hbvi7sl60zjrydgdcijxkby-gcc-14.2.0-lib/lib"
path = "libstdc++.so.6"
[[toolchains.supportlibs]]
url = "file:///nix/store/kpqmkabv5hbvi7sl60zjrydgdcijxkby-gcc-14.2.0-lib/lib"
path = "libgcc_s.so.1"
[[toolchains.startfiles]]
url = "file:///nix/store/nqb2ns2d1lahnd5ncwmn6k84qfd7vx2k-glibc-2.40-36/lib"
path = "crt1.o"
[[toolchains.startfiles]]
url = "file:///nix/store/nqb2ns2d1lahnd5ncwmn6k84qfd7vx2k-glibc-2.40-36/lib"
path = "crti.o"
[[toolchains.startfiles]]
url = "file:///nix/store/nqb2ns2d1lahnd5ncwmn6k84qfd7vx2k-glibc-2.40-36/lib"
path = "crtn.o"
[[toolchains.startfiles]]
url = "file:///nix/store/zvydhb6x96y62jh0pi92h8bl6iic7cpf-gcc-14.2.0/lib/gcc/x86_64-unknown-linux-gnu/14.2.0"
path = "crtbegin.o"
[[toolchains.startfiles]]
url = "file:///nix/store/zvydhb6x96y62jh0pi92h8bl6iic7cpf-gcc-14.2.0/lib/gcc/x86_64-unknown-linux-gnu/14.2.0"
path = "crtend.o"

[[targets]]
pack = "github.com/megakuul/bob/cmd/bobctl"
remote_toolchain = true
toolchains = ["gcc"]

[[targets]]
pack = "github.com/megakuul/bob/cmd/bobctl"
toolchains = ["gcc"]

[[targets]]
pack = "github.com/megakuul/bob/pkg/boblib"
library = true
toolchains = ["gcc"]

[[includes]]
mod = "github.com/megakuul/boblibs"
source = { url = "git://github.com/megakuul/boblibs@v1.0.0" }
remote_toolchain = false

[[externals]]
name = "gtkmm4"
rpaths = [
  "/usr/lib",
  "/usr/lib64",
  "/nix/store/whrhagvp2rdjajgmwi9dcds25jsbbizw-gtkmm-4.16.0/lib"
]
[[externals.headers]]
url = "file:///nix/store/dlkrl780qfprj8zjxxcbm1nny9kf4skw-gtkmm-4.16.0-dev/include/gtkmm-4.0"
path = "gtkmm.h"
[[externals.libraries]]
url = "file:///nix/store/whrhagvp2rdjajgmwi9dcds25jsbbizw-gtkmm-4.16.0/lib"
path = "libgtkmm-4.0.so"